body {
	font-family: arial;
	overflow: auto;
}

.wallpaper {
	display: block;
	height: 100%;
	width: 100%;
	background-image: url(../images/got-throne.jpg);
	background-position: center;
	background-size: cover;
	opacity: .75;
	position: fixed;
	z-index: 1;
}

.main {
	flex: 1;
	padding: 80px;
	z-index: 2;
	position: absolute;
	opacity: .7;
	overflow: scroll;
}
